.alert{
	width:100%;
	height:3em;
	margin:0 auto;
	overflow:hidden;
	position: fixed;
	bottom:0;
	background-color: darkred;
	color: white;
	padding-top: 15px;
	font-size: 22px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	/*float: right;*/
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
	/*transition: 0.3s;*/
}

.closebtn:hover {
	color: black;
}