.App {
  text-align: center;
  display: grid;
  grid-auto-rows: auto;
}

#loading{
	position: absolute;
    top: 0%;
    left: 0%;
	height: 100%;
	width: 100%;
	align-items: center;
	opacity: 0.9;
	background-color:ghostwhite;
	z-index: 2147483647;
}

#loading >.img{
	padding-top: 25%;
}

.navigation{
	height: 41px;
}

.pagination{
	padding-top: 2px;
}
