.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.homepage-buttons {
	text-align: center;
}

.homepage-buttons > *{
  	height: 80px;
	width: 210px;
	background-color: ghostwhite;
	font-size: 24px;
	outline:none;
	/*border: none;*/
	margin: 20px;
	border-radius: 5px;
	text-align: center;
}

.homepage-buttons > *:hover{
  background-color: #4CAF50;
  color: white;
}

#homepage-dropbtn{
	text-align: center;
  	text-align-last: center;
}

.slogan {
	background-color: #222;
	text-align:right;
	font-family: fantasy;
	font-size: 30px;
	font-weight: bolder;
	padding-right: 50px;
  	margin: 0px;
}

#loading{
	position: absolute;
    top: 0%;
    left: 0%;
	height: 100%;
	width: 100%;
	align-items: center;
	opacity: 0.9;
	background-color:ghostwhite;
}

#loading >.img{
	padding-top: 25%;
}

#slogan-study {
	margin: 0px;
	color: lightskyblue;
}

#slogan-easier {
	color: ghostwhite;
	padding-left: 50px;
}

#slogan-faster {
	color: indianred;
}

#slogan-harder {
	color: cornsilk;
}

/*=======*/
/*study page*/
#wholecard {
	display: block;
	height: 25px;
	margin: auto;
	padding: 20px;
}

#anwser {
	display: block;
	text-align: center;
	height: 25px;
	margin: 0 auto;
	padding: 20px;
}

/* 修改 */
#cards,  #ending{
	display: block;
	margin:30px auto 10px auto;
	height: 500px;
	width: 900px;
	background-color: WhiteSmoke;
	border: 1px solid lightgray;
}

#time {
	color:IndianRed;
}

#header, #TimeOut{
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
}

#result{
	text-align: center;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
}


#question {
	display: block;
	margin:10px auto 10px auto;
	padding: 10px 0px 10px 0px;
	color: #4CAF50;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}

#correctAnwser {
	display: block;
	margin:10px auto 10px auto;
	padding: 10px 0px 10px 0px;
	color: #4CAF50;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}

/* 修改 */
#haveNoIdea, #AButton, #BButton, #CButton, #addtoFavorite, #answerPageButton, #endingButton {
	display: block;
	height: 60px;
	width: 60%;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin:10px auto 10px auto;
	padding:12px 4px;
}

#endingButton {
	display: block;
	height: 35px;
	width: 10%;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin:10px auto 10px auto;
	padding:8px 4px;
}

#exit {
	/* display: block; */
	height: 30px;
	width: 10%;
	margin: 50px 10px 20px 700px;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

#addtoFavorite, #answerPageButton {
	display: inline-block;
	height: 40px;
	width: 20%;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin:10px 20px 10px 20px;
	padding:12px 4px;
}

#addtoFavorite:hover {
	border: 1px solid IndianRed;
	color: white;
}

#haveNoIdea:hover {
	border: 1px solid IndianRed;
	background-color: IndianRed;
	color: white;
}

#AButton:hover {
	background-color: #4CAF50;
	color: white;
}

#BButton:hover {
	background-color: #4CAF50;
	color: white;
}

#CButton:hover {
	background-color: #4CAF50;
	color: white;
}

#answerPageButton:hover {
	background-color: #4CAF50;
	color: white;
}

#exit:hover{
	border: 1px solid Brown;
	background-color: Brown;
	color: white;
}

/*edit page*/
.edit-page h1 {
	color: green;
	text-align: center;
}

.edit-page input
{
	font-size: 18px;
	height: 18px;
	padding: 10px;
}

.edit-page {
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	padding: 5px;
}

.edit-page .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	text-align: center;
}

.edit-page button {
	border: 1px;
	padding: 8px;
	margin: 20px;
	width: 80px;
	background-color: rgb(17, 192, 17);
	text-align: center;
	display: inline-block;
	font-size: 15px;
}

.edit-page button:disabled,
.edit-page button[disabled]{
	background-color: #cccccc;
	color: #666666;
	font-size: 10px;
}

.edit-page .error {
	border:1px solid red;
}

.edit-page input:focus {
	outline: none !important;
}

.edit-page .alert {
	padding-top: 10px;
	text-align: center;
	color: #f44336;
}

.edit-page .status {
	text-align: center;
	font-weight: bold;
	color: red;
	margin-bottom: 20px;
	font-size: 20px;
}

