
.navigation > .ant-menu-horizontal {
	line-height: 39px;
}

.navigation > .ant-menu-horizontal > li:last-child{
	float:right;
}

nobr {
    margin-right: 15px;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
	margin-right: 0px;
}